<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prabin Nyaupane</title>
    <link rel="shortcut icon" href="image/Untitled-1 - Copy copy.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="styleseet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <%- include('./partials/header') %>
    <%- include('./partials/hero') %>
    <%- include('./partials/about') %>
    <%- include('./partials/skills') %>
    <%- include('./partials/resume') %>
    <%- include('./partials/licenses') %>
    <%- include('./partials/publications') %>
    <%- include('./partials/contact') %>
    <%- include('./partials/footer') %>


        
</body>

</html>